h1 {
    color: #2f4f4f;
    margin-bottom: 10px;
}

#main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

#main-nav li {
    display: inline-block;
}

#main-nav a {
    color: white;
    background-color: #13a4a4;
    padding:5px;
    border-radius: 2px;
    text-decoration: none;
}

.border-my {
    background-color: #ddffff;
    border-left: 5px solid #2196f3;
    padding: 16px;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;

}

tr:hover {background-color: #f2f2f2;}

thead {
    background-color: #f2f2f2;
}
