<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8">
	<title>CPP</title>
	<link rel="shortcut icon" href="../../imag/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" href="../../module/cc-icons/css/cc-icons.min.css" type="text/css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="../../module/bootstrap/dist/css/bootstrap.css">
	<!-- hightlight code -->
	<link rel="stylesheet" href="../../module/highlight/styles/default.min.css">
    </head>

    <div class="container-xl pt-3 pb-3">
	<body>
	    <header>
		<nav>
		    <a href="../../index.html" target="_blank">HOME</a>
		    <a href="../../archive.html" target="_blank">ARCHIVE</a>
		    <a href="../../tag.html" target="_blank">TAG</a>
		    <a href="../../about.html" target="_blank">ABOUT</a>
		</nav>
	    </header>

	    <h1>C++ Language Feature</h1>
	    <div>Date: <time>2024-07-10</time>. Last updated: <time>2024-07-10</time>.</div>

	    <h2>C++</h2>
	    <p>
		结构化绑定: <br/>
		<pre><code class="CPP">
                    std::map<int, std::string> myMap = {{1, "ele1"},{2, "ele2"},{3, "ele3"},};
		    for (auto&& [key, val] : myMap) {
		    std::cout << key << ": " << val << std::endl;
		    }
		</code></pre>
	    </p>

	    <p>
		constexpr constinit constinit: <br/>
		<pre><code class="CPP">
		    consteval int CompileConst(int n) {
                            return n + 1;
		    }

		    constexpr int RunCompileConst(int n) {
		            return n + 1;
		    }

		    constexpr int constVar1 = CompileConst(5);
		    constinit int constVar2 = CompileConst(5);

		    int main() {
		            constexpr int n1 = CompileConst(100);
                            constexpr int n2 = RunCompileConst(100);
		            static_assert(n1 == 101);
		            static_assert(n2 == 101);

		            int i = 100;
		            // int nnn = CompileConst(i);
		            int nnn = RunCompileConst(i);
		            assert(nnn == 101);

		            // ++constVar1;
		            ++constVar2;
		    }

		</code></pre>

		显示推导this(Deduce This): <br/>
		<pre>
		    <code class="c++">
                   struct Base
                   {
                    template &lt typename Self &gt
		    void interface( this Self&& self ) // deduce this
		    {
		            self.implementation();
		    }
		    void implementation()
		    {
		            std::cout << "Implementation Base" << '\n';
		    }
		    };

		    struct Derived1 : Base
		    {
		            void implementation()
		    {
    		    std::cout << "Implementation Derived1" << '\n';
		    }
		    };

		    struct Derived2 : Base
		    {
		            void implementation()
		            {
		                    std::cout << "Implementation Derived2" << '\n';
		            }
		    };

		    struct Derived3 : Base
		    {
		    };

		    int main()
		    {
		            Derived1 d1;
			   d1.interface(); // Implementation Derived1

			   Derived2 d2;
			   d2.interface(); // Implementation Derived2

			   Derived3 d3;
			   d3.interface(); // Implementation Base

		    }

		    </code>
		</pre>
	    </p>





	    <h2>ModernCPP Feature</h2>
	    <p>
		<ul>
		    <li><a href="https://blog.csdn.net/guxch/article/details/113641104">C++20新特性—consteval与constinit</a></li>
		</ul>
	    </p>





















	    <footer>
		Copyright &copy; <a href="mailto:2962539335@qq.com">Hower Chow</a> 2021 - <script>document.write(new Date().getFullYear())</script> <i class="cc cc-by-nc-sa-eu"></i>
		<a href="https://www.gnu.org/software/emacs/" target="_blank">
		    <img src="../../imag/made-with-emacs.png" style="float: right" width="75", height="25">
		    <!-- <img src="../../imag/made-with-emacs.png" style="float: right;"> -->
		</a>

	    </footer>

	    <!-- bootstrap -->
	    <script src="../../module/bootstrap/dist/js/bootstrap.bundle.js"></script>
	    <!-- highlight -->
	    <script src="../../module/highlight/highlight.min.js"></script>
	    <script>hljs.highlightAll();</script>
	</body>

    </div>
</html>
